// @import "~bootstrap/dist/css/bootstrap.css";
// @import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
// @import '~bootstrap-icons/font/bootstrap-icons.css';
$brand-background-color:#4A327C;
$checkbox-selected-disabled-color:#999;
$checkbox-selected-disabled-border-color:#999;
$input-border-color:#c9c992;
$standard-background-color:#ffffff;
$disabled-background-color:#eee;
$button-background-color:#4A327C;
$button-hover-background-color:#210e48;
$button-active-background-color:#ad95de;
$button-disabled-background-color:#dcdfe4;
$button-disabled-font-color:#7c8ba1;
 